# Environment
.env

# Credentials
AWS keys.csv

# Database
*.db

# Virtual environment
venv/
.venv/

# System files
.DS_Store
venv312/
logs/
dbt_project/logs/
dbt_project/target/
dbt_project/dbt_packages/
